body {
    --box-width: 90vw;
    --img-width: 90vw;
    --logo-font-size: 2.5rem;
    --parag-font-size: 1rem;
    
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    background-color: #F5F5EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-class {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: var(--box-width);
}

.logo-title {
    color: #000000;
    width: var(--box-width);
    margin-top: 4vw;
}

.box {
    border-top: #D2D9E2 solid;
    width: var(--box-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mem-anchor {
    padding: 1vw 0 1vw 0;
}

.mem-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.mem-item {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.mem-image {
    object-fit: contain;
    background-repeat: repeat;
    height: 0;
    opacity: 0;
    transform: scale(0.001);
    padding: 1vw 0 1vw 0;
    width: var(--img-width);
}


a:link,
a:visited,
a:hover,
a:active {

    text-decoration: none;
    outline: none;

}

.box>.mem-anchor:focus .mem-image,
.box>.mem-anchor:active .mem-image {
    height: auto;
    opacity: 1;
    transform: scale(1);
}

.box>.mem-anchor:focus p {
    color: #000000;
}

p {
    color: #0059D9;
    font-size: var(--parag-font-size);
    margin: 0;
}

.status {
    visibility: hidden;
}



@media (hover: hover) and (pointer: fine) {

    
    .box:hover .mem-image {
        height: auto;
        opacity: 1;
        transform: scale(1);
        transition: all 1s ease;
    }

    .box:hover .status {
        transform: rotate(45deg);
    }

    .main-class:hover p {
        color: #000000;
    }

    .main-class:hover .status {
        visibility: visible;
    }
}


@media (min-width: 320px) {}

@media (min-width: 820px) {}

@media (min-width: 1080px) {
    body {
        --box-width: 90vw;
        --img-width: 35vw;
        --logo-font-size: 2.5rem;
        --parag-font-size: 1.5rem;
    }

    .logo-title {
        width: var(--box-width);
        font-size: var(--logo-font-size);
    }

    .box {
        width: var(--box-width);
    }

    p {
        font-size: var(--parag-font-size);
    }
}